# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Builds
dist/
build/
.vite/
.build/
.esbuild/
coverage/

# Editor/IDE
.idea/
.vscode/
*.iml

# Local env
.env
.env.*
